<%= form_with(model: @comment, local: true) do |f| %>
    <% if @comment.errors.any? %>
        <div id = 'error_explanation'>
            <h2>Este comentario no se pudo crear por las siguientes razones</h2>
            <ul>
                <% @comment.errors.full_messages.each do |msg|%>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <%= f.hidden_field :article_id, value: @article.id %>

    <div class = 'field'>
        <%= f.label :content, as: "Contenido" %>
        <%= f.text_field :content %>

    <div class = 'actions'>
        <%= f.submit %>
    </div>
<% end %>
